<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>AWKWARD</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1> AWKWARD!! </h1>
   <br>
   <h2> How to make your awkward situation even more awkward! </h2>
   <br>
   <img src="https://media0.giphy.com/media/SwefghwWAJrz2/200.gif" >
   <br>
   <h3> What's the situation? </h3>
     <form>
      <input type="radio" name="situation" value="sit1" checked> Someone said something offensive...
      <br> <br>
      <input type="radio" name="situation" value="sit2"> Someone brought up an ex and you're on a date..
       <br> <br>
       <input type="radio" name="situation" value="sit3"> You got into the wrong car...
       <br> <br> <br>
       <input type= "submit" value= "Submit" >
     </form>
   
 </body>
</html>