<!DOCTYPE html>
<html>
 <head>
  <title>Results!</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
  <h1>AWKWARD!!</h1>
  <br>
  <h2>Here's what you can do to make your situation even MORE awkward:</h2>
   
   <form>
    <input type="submit" value= "Start Over">
   </form>
 </body>
</html>  