<!DOCTYPE html>
<html>
 <head>
  <title>Results!</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
  <h1>Everything is Awkward</h1>
  <br>
  <h2>Here's what you can do to make your situation even MORE awkward:</h2>
   <div id="awk">
   <%= @awk %> 
     </div>
   <br> <br> <br>
   <img src= "<%= @gif %>">
   <br><br>
   <a href="/">Start Over</a> 
    <footer>
        <p>Brian, Izzy, Paige, Tenzin
         <br>
         Flatiron 2015
         <br>
         Learn Love Code.</p>
      </footer> 
 </body>
</html>  